#search_suggest
{
	position:absolute;
	background:#ffffff;
	text-align:left;
	border:3px solid #bd1d1f;
	width:434px;
	z-index:100001;
	padding:0;
	margin:0;
	clear:left;
}
#search_suggest ol{
	margin:0;
	padding:0;	
	display:block;
}

#search_suggest ol li{
	margin:0;
	padding:0;
	clear:both;
	overflow:hidden;
	float:left;
	font-size:14px;
	line-height:25px;
	padding:0 5px;
	width:424px;
	display:list-item;
	color:#999;
}

#search_suggest li.selected {
	background-color:#3366CC;
	color:white;
	cursor:default;
}

#search_suggest li.selected span {
	color:white;
	cursor:default;
}

#search_suggest li.selected span {
	color:white;
	cursor:default;
}

#search_suggest li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	display:list-item;
}

.suggest-key {
	float:left;
	padding-left:5px;
	text-align:left;
}

.suggest-result{
	color:green;
	float:right;
	padding-right:5px;
	text-align:right;
}