<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$lang.home.title} - {$lang.link_edit}</title>
<link href="templates/default/style/admin.css" rel="stylesheet" type="text/css" />
<script src="templates/default/js/jquery.min.js" ></script>
<script src="templates/default/js/artDialog.js?skin=default"></script>
<script src="templates/default/js/iframeTools.source.js"></script>
<script src="templates/default/js/artDialog_js.php"></script>
<script src="templates/default/js/checkf.func.js"></script>
<script src="templates/default/js/mgr.func.js"></script>
<script src="templates/default/js/getuploadify.js"></script>
<script src="templates/default/js/getjcrop.js"></script>
<script type="text/javascript" src="plugin/calendar/calendar.js"></script>
</head>
<script>
{foreach from=$js item=list key=k}
var {$k}	= "{$list}";
{/foreach}

</script>
<body>     
<form action="" method="post" onsubmit="return cfm_link();" id="form" name="form" >
    <div class="Form02">
      <h3>{$lang.basic}</h3>
        <table width="100%" border="0" class="v5-table05">
 <tr>
        <td><span class="red">*</span>{$lang.webname}</td>
        <td><input type="text" name="webname" class="v5-input in180" id="webname" value="{if $info.webname}{$info.webname}{/if}"/></td>
      </tr>
      <tr>
        <td>{$lang.webnote}</td>
        <td><textarea name="webnote" id="webnote" class="v5-textarea tin60 w360">{if $info.webnote}{$info.webnote}{/if}</textarea></td>
      </tr>
      <tr>
        <td><span class="red">*</span>{$lang.picurl}</td>
        <td><input type="text" name="picurl" class="v5-input in180" id="picurl" value="{if $info.picurl}{$info.picurl}{/if}"/>
       <span class="cnote">
                <span class="gray_btn" onclick="GetUploadify('uploadify','{$lang.thumupload}','image','image',1,20000000,'picurl')">{$lang.uploadpic}</span>
                <span class="reimg">
                	<input type="checkbox" name="rempic" id="rempic" value="true" />{$lang.remote}
                </span> 
                <span class="cutimg">
                	<a href="javascript:;" onclick="GetJcrop('jcrop','picurl');return false;">{$lang.tailor}</a>
                </span> 
            </span></td>
      </tr>
      <tr>
        <td>{$lang.linkurl}</td>
        <td><input type="text" name="linkurl" class="v5-input in180" id="linkurl" value="{if $info.linkurl}{$info.linkurl}{/if}"/></td>
      </tr>
        <tr>
        <td>{$lang.posttime}</td>
        <td>
        	<input type="text" name="posttime" class="v5-input in150" id="posttime"   readonly="readonly" value="{if $info.posttime}{$info.posttime|date_format:'%Y-%m-%d'}{/if}"/>
            {literal}
            <script type="text/javascript">
            date = new Date();
            Calendar.setup({
                inputField     :    "posttime",
                ifFormat       :    "%Y-%m-%d %H:%M:%S",
                showsTime      :    true,
                timeFormat     :    "24"
            });
            </script>
            {/literal}
        </td>
      </tr>
       <tr>
        <td>{$lang.orderid}</td>
        <td><input type="text" name="orderid" class="v5-input in60" id="orderid" value="{if $info.orderid}{$info.orderid}{/if}"  onKeyUp="value=value.replace(/[^\d]/g,'')"/></td>
      </tr>
       <tr>
        <td>{$lang.checkinfo}</td>
        <td>
        	<input name="checkinfo" type="radio" value="true"  {if $info.compile}{if $info.compile eq true}checked="checked" {/if}{else}checked="checked"{/if} />&nbsp;{$lang.yes}&nbsp;
            <input name="checkinfo" type="radio" value="false" {if $info.compile}{if $info.compile eq false}checked="checked" {/if}{/if}  />&nbsp;{$lang.no}
        </td>
      </tr>
    </table>
	</div>
    <input type="hidden" name="id" id="id"  value="{if $info.id}{$info.id}{/if}"/>
    <input type="submit" name="dosubmit" id="dosubmit"  class="dialog" value="{$lang.submit}">
    <input name="act" id="act" type="hidden" value="subedit" />
</form>

</body>
</html>
