<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$lang.home.title} - {$lang.admin_edit}</title>
<link href="templates/default/style/admin.css" rel="stylesheet" type="text/css" />
<script src="templates/default/js/jquery.min.js" type="text/javascript"></script>
<script src="templates/default/js/artDialog.js?skin=default"></script>
<script src="templates/default/js/iframeTools.source.js"></script>
<script src="templates/default/js/artDialog_js.php"></script>
<script src="templates/default/js/checkf.func.js"></script>
<script src="templates/default/js/mgr.func.js"></script>
</head>
<script>
{foreach from=$js item=list key=k}
var {$k}	= "{$list}";
{/foreach}

</script>
<body>   

<form action="" method="post"  id="form" name="form" onsubmit="return cfm_upadmin();">
    <div class="Form02">
      <h3>{$lang.basic}</h3>
      <table width="100%" border="0" class="v5-table05">
      <tr>
        <td>{$lang.username}</td>
        <td>{if $info.username}{$info.username}{/if}<input type="hidden" name="username" id="username" value="{if $info.username}{$info.username}{/if}"/></td>
      </tr>
      <tr>
        <td>{$lang.password}</td>
        <td><input type="password" name="password" class="v5-input in180" id="password"/></td>
      </tr>
      <tr>
        <td>{$lang.repassword}</td>
        <td><input type="password" name="repassword" class="v5-input in180" id="repassword" /></td>
      </tr>
      <tr>
        <td><span class="red">*</span>{$lang.email}</td>
        <td><span class="con_name">
          <input type="text" name="email" class="v5-input in180" id="email"  value="{if $info.email}{$info.email}{/if}"/>
        </span></td>
      </tr><tr>
        <td><span class="red">*</span>{$lang.mobile}</td>
        <td><span class="con_name">
          <input type="text" name="mobile" class="v5-input in180" id="mobile"  value="{if $info.mobile}{$info.mobile}{/if}"/>
        </span></td>
      </tr>
      <tr>
        <td>{$lang.role_id}</td>
        <td><span class="con_name">
          <select name="role_id" id="role_id" class="v5-select">
            <option value="0">--</option>
            
            {foreach from=$role_info item=list}
                        
            <option value="{$list.id}" 
                        {if $info.role_id}
                        	{if $info.role_id eq $list.id}
                            selected="selected"
                            {/if}
                        {/if}>
            {$list.rolename}
            </option>
            
            {/foreach}
                    
          </select>
        </span></td>
      </tr>
    </table><input type="hidden" name="id" id="id"  value="{if $info.id}{$info.id}{/if}"/>
            <input type="submit" name="dosubmit" id="dosubmit"  class="dialog" value="{$lang.submit}">
            <input name="act" id="act" type="hidden" value="subedit" />
</form>  
</body>
</html>
