<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$lang.home.title} - {$lang.area_add}</title>
<link href="templates/default/style/admin.css" rel="stylesheet" type="text/css" />
<script src="templates/default/js/jquery.min.js" type="text/javascript"></script>
<script src="templates/default/js/artDialog.js?skin=default"></script>
<script src="templates/default/js/iframeTools.source.js"></script>
<script src="templates/default/js/artDialog_js.php"></script>
<script src="templates/default/js/checkz.func.js"></script>
<script src="templates/default/js/mgr.func.js"></script>
</head>
<script>
{foreach from=$js item=list key=k}
var {$k}	= "{$list}";
{/foreach}
</script>
<body>     
<form action="" method="post" id="form" name="form" onsubmit="return cfm_ship();">
    <div class="Form02">
      <h3>{$lang.basic}</h3>
        <table width="100%" border="0" class="v5-table05">
<tr>
        <td width="100">{$lang.TemName}</td>
        <td><input type="text" name="TemName" class="v5-input in180" id="TemName"/></td>
      </tr>
      <tr>
        <td>{$lang.TemAddressID}</td>
        <td>
        <select name="AddrCountry" id="AddrCountry" onchange="do_area('AddrCountry','AddrProvince','{$lang.AddrProvince}')" class="in100">
          <option value="" >{$lang.AddrCountry}</option>
          {foreach from=$info item=list}
          <option value="{$list.id}">{$list.classname}</option>
          {/foreach}
        </select>
        <select name="AddrProvince" id="AddrProvince" onchange="do_area('AddrProvince','AddrCity','{$lang.AddrCity}')" class="in100">
          <option value="" >{$lang.AddrProvince}</option>
        </select>    
        <select name="AddrCity" id="AddrCity"  class="in100" onchange="do_area('AddrCity','AddrArea','{$lang.AddrArea}')" >
          <option value="" >{$lang.AddrCity}</option>
        </select>          
        <select name="AddrArea" id="AddrArea" class="in100">
          <option value="" >{$lang.AddrArea}</option>
        </select>        
        </td>
      </tr>
      <tr>
        <td>{$lang.TemFree}</td>
        <td><input name="TemFree" type="radio" value="0" checked="checked" />
          &nbsp;{$lang.TemFree0}&nbsp;
          <input name="TemFree" type="radio" value="1" />
        &nbsp;{$lang.TemFree1}</td>
      </tr>
       <tr>
         <td>{$lang.TemPricing}</td>
         <td><input name="TemPricing" type="radio" value="0" checked="checked" onclick="reloadshipadd()" />
&nbsp;{$lang.TemPricing0}&nbsp;
<input name="TemPricing" type="radio" value="1" onclick="reloadshipadd()" />
&nbsp;{$lang.TemPricing1}
<input name="TemPricing" type="radio" value="2" onclick="reloadshipadd()" />
&nbsp;{$lang.TemPricing2}</td>
       </tr>
       <tr>
        <td>{$lang.orderid}</td>
        <td><input type="text" name="orderid" class="v5-input in60" id="orderid" value="{$orderid}"  onKeyUp="value=value.replace(/[^\d]/g,'')" /></td>
      </tr>
       <tr>
        <td>{$lang.checkinfo}</td>
        <td>
        	<input name="checkinfo" type="radio" value="true" checked="checked" />&nbsp;{$lang.yes}&nbsp;
            <input name="checkinfo" type="radio" value="false" />&nbsp;{$lang.no}&nbsp;&nbsp;<span style="color:#f00">{$lang.checkinfocontent}</span>
        </td>
      </tr>
       <tr>
         <td valign="top">{$lang.shippingMethod}</td>
         <td valign="top">
         <p style="color:#666">{$lang.shippingMethodInfo}</p>
         {foreach from=$postinfo item=list}
         <p>
           <input type="checkbox" name="pid[]" id="pid{$list.id}" value="{$list.id}" onclick="selectship({$list.id})" />
           {$list.classname}
         </p>
         <div id='ship{$list.id}' class='shipHidden'>&nbsp;</div>
         {/foreach}
         </td>
       </tr>
        </table>
	</div>
    <input type="submit" name="dosubmit" id="dosubmit"  class="dialog" value="">
    <input name="act" id="act" type="hidden" value="subadd" />
</form>
</body>
</html>
