<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$lang.home.title} - {$lang.uplodepic}</title>
<link href="templates/default/style/admin.css" rel="stylesheet" type="text/css" />
<script src="templates/default/js/jquery.min.js" type="text/javascript"></script>
<script src="templates/default/js/artDialog.js?skin=default"></script>
<script src="templates/default/js/iframeTools.source.js"></script>
<script src="templates/default/js/artDialog_js.php"></script>
<script src="templates/default/js/checkf.func.js"></script>
<script src="templates/default/js/mgr.func.js"></script>
<script>
{foreach from=$js item=list key=k}
var {$k}	= "{$list}";
{/foreach}
</script>

</head>
<body>
<form action="" method="post" id="form" name="form">       
   <input type="hidden" name="from" id="from"value="{$from}" /> 

   <div class="pro_nr" id="header">
        <div class="pro_bt">
            <a href="javascript:location.reload();"><img onmousemove="src='templates/default/images/pro_2.jpg'" onmouseout="src='templates/default/images/pro_1.jpg'" src="templates/default/images/pro_1.jpg" width="47" height="16"/>
            </a>
        </div>
        <div class="pro_xx">
            <div class="tl">
                <span class="pro_tbl3">
                    <a href="javascript:;" onclick="return DelAll3('uplodepic.php','{$from}');">
                    	<img src="templates/default/images/tbl2.jpg" align="left" />&nbsp;{$lang.action_del}
                    </a>
                </span>
            </div>
            <div class="tr">
              
            </div>
        </div>
        <div class="pro_bt1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="8%" height="30" align="left" valign="middle" class="pro_rb">&nbsp; 
                       <span class="tl">&nbsp;
                            <input type="checkbox" name="checkbox" value="checkbox"
                             onclick="chk_all($(this).attr('checked'))"/>&nbsp;
                        </span></td>
                    <td width="20%" height="30" align="left" valign="middle" class="pro_rb">&nbsp;{$lang.classname}</td>
                    <td width="20%" align="left" valign="middle" class="pro_rb">&nbsp;{$lang.posttime} </td>
                    <td width="16%" align="left" valign="middle" class="pro_rb">&nbsp;{$lang.size}</td>
                    <td width="18%" align="left" valign="middle" class="pro_rb">&nbsp;{$lang.zt} </td>
                    <td width="18%" align="left" valign="middle" class="pro_rb">&nbsp;{$lang.action}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="topheight"></div>
    <div class="pro_nr">
        <div class="pro_bottoms">
        	
       	 {if $info}
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            {foreach from=$info item=list}
                <tr class="pro_bt2">
                    <td width="8%" height="35" align="left" valign="middle" class="pro_tbr">
                        <span class="tl">
                            &nbsp; <input type="checkbox" name="id[]" value="{$list.id}"  />
                        </span>
                    </td>
                    <td width="20%" align="left" valign="middle" class="pro_tbr pro_l5">&nbsp;{$list.name}</td>
                    <td width="20%" align="left" valign="middle" class="pro_tbr">&nbsp;{$list.posttime|date_format:'%Y-%m-%d %H:%M:%S'}</td>
                    <td width="16%" align="left" valign="middle" class="pro_tbr">&nbsp;{GetRealSize({$list.size})}</td>
                    <td width="18%" align="left" valign="middle" class="pro_tbr">&nbsp;未使用</td>
                    <td width="18%" align="left" valign="middle" class="pro_tbr">&nbsp;<a href="../{$list.path}" target="_blank">{$lang.yl}</a>&nbsp;
    				<a href="javascript:;" onclick="return ConfDel('uplodepic.php?act=subdel&id={$list.id}&from={$from}');">{$lang.action_del}</a></td>
                </tr>
            {/foreach} 
            </table>
            {else}
            	<div class="no_info">{$lang.no_info}</div>
            {/if}
        </div>
         <div class="pro_bot" id="footer">
            {$page}
       </div>
    </div>
</form>
</body>
</html>
