<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link href="{%$template_dir%}style/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link href="{%$template_dir%}style/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{%$template_dir%}font-awesome-4.7.0/css/font-awesome.css">
<title>{%$webname%}</title>
<script src="{%$template_dir%}js/jquery-1.11.3.min.js"></script>
<script src="{%$template_dir%}js/jquery.flexslider-min.js"></script>
<script src="{%$template_dir%}js/jquery.bxslider.js"></script>
<script src="{%$template_dir%}js/index.js"></script>
<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/suggest.js"></script>
<script type="text/javascript" src="js/transport.js"></script>
<script type="text/javascript" src="js/loadimage.js"></script>
<script type="text/javascript" src="{%$template_dir%}js/qiehuan.js"></script>
<!--[if IE 6]> 
<script type="text/javascript" src="png.js"></script>
<script>
PNG.fix('*');
</script>
<![endif]-->