<!doctype html>
<html>
<head>
{%include file="inc_link.html"%}

<script type="text/javascript" src="js/loadimage.js"></script>
<script type="text/javascript" src="js/loadimage.js"></script>
<script type="text/javascript" src="js/lcshopz.js"></script>
<script type="text/javascript" src="js/goods.js"></script>
<script>
{%foreach from=$js item=list key=k%}
var {%$k%}	= "{%$list%}";
{%/foreach%}
</script>
<script type="text/javascript">
$(function(){
    $(".jqzoom img").LoadImage({width:318,height:318});
});
</script>
<style>
.shopcart_popup1{
position:absolute;background:url(templates/default/images/tanchuang2.png) 
no-repeat; width:83px; height:38px; overflow:hidden; line-height:45px; color:#F00; 
font-weight:bold;margin-left:10px; text-align:center; top:37px; left:70px; 
}
/*购物车*/
#shopcar_popup{width:auto; display:block; float:left;height:120px;border:3px #e43a3d solid;display:none;background:#fff url(templates/default/images/tuc_03.jpg) 10px center no-repeat ; line-height:30px; font-size:14px; font-family:"微软雅黑"; margin-left:75px; padding-left:63px; padding-bottom:10px; padding-right:10px; padding-top:10px; position:absolute}

#shopcar_popup span{ cursor:pointer; color:#e43a3d; font-weight:bold}
.attrlink td{ min-height:38px;line-height:38px}
</style>
</head>

<body>
<!--header start-->
{%include file="head.html"%}
<!--header end-->

<!--main start-->

<div class="main">
	<div class="path"><i class="fa fa-map-marker red"></i> <a href="index.php">首页</a> > 商品详情 </div>
	<div class="clearfix pro_xx">
		<div class="pro_xx_l fl">
			<div class="bigpic">
				  <div class="v_show">
						<div class="v_cont">
						  	<!--<ul>
						  	 {%foreach from=$info.picarr item=pic key=ks%}		  			
							    <li><img src="{%$pic%}" width="318" height="318"></li>
							    {%/foreach%}
														
							</ul>-->
<SCRIPT src="js/jquery-1.2.6.pack.js" type=text/javascript></SCRIPT>
<SCRIPT src="js/163css.base.js" type=text/javascript></SCRIPT>
							<div class=jqzoom id=spec-n1>
    <img src="{%$info.picurl%}" jqimg="{%$info.picurl%}" width=318 height="318">
	</div>
						</div>
				  </div>       
			</div>
     	 	<div class="pic_bot" id="spec-list">
		        <ul class="circle clearfix list-h">	
		        {%foreach from=$info.picarr item=pic key=ks%}		  
		            <li><a href="javascript:void(0)"><img src="{%$pic%}" width="76" height="76" style="cursor:pointer" onmouseover="chengimg(this.src)"></a></li>
		             {%/foreach%}

				</ul>
      		</div>
		</div>
<SCRIPT type=text/javascript>
$(function(){			
   $(".jqzoom").jqueryzoom({
		xzoom:400,
		yzoom:400,
		offset:10,
		position:"right",
		preload:1,
		lens:1
	});
	$("#spec-list").jdMarquee({
		deriction:"left",
		width:289,
		height:56,
		step:2,
		speed:4,
		delay:10,
		control:true,
		_front:"#spec-right",
		_back:"#spec-left"
	});

})
function chengimg(src)
{
	$("#spec-n1 img").attr("src",src);
	$("#spec-n1 img").attr("jqimg",src);
	//$("#spec-n1 img").css("border","1px solid #ff6600");
}
</SCRIPT>
<SCRIPT src="js/163css.lib.js" type=text/javascript></SCRIPT>
<SCRIPT src="js/163css.js" type=text/javascript></SCRIPT>

		<div class="pro_xx_r fr">
			<h2>{%$info.title%}</h2>
			<h4>{%$info.retitle%}</h4>
			<p>价格：<span class="red" id="price">￥{%$info.salesprice%}</span></p>
			<div class="pro_xx_con">
				<ul>
					<li class="clearfix">
					<!--	<h3 class="fl">送至：</h3>
						<p class="fl"><select name="" class="select">
							<option value="">哈尔滨市道里区派出所</option>
						</select>预计18：56到达！</p>-->
					</li>
					<li class="clearfix">
					<input type="hidden" name="show_housenum" id="show_housenum" 
                      value="{%$info.tot_housenum%}">
						<h3 class="fl">数量：</h3>
    					<p class="pro_num">
						
    					<a href="javascript:;jian()">-</a>
    					<input type="text" id="goods_num" value="1" size="5" onKeyUp="value=value.replace(/[^\d]/g,'')" onblur="num_blur()" name="goods_num" type="text" value="1"><a href="javascript:;jia()">+</a>

    					</p>
							<input name="goods_id" type="hidden" id="goods_id" value="{%$info.id%}" />
                           <input name="goods_price" type="hidden" id="goods_price"  value="{%$info.hideprice%}" />
							<input type="hidden" name="goods_from" id="goods_from" value="{%$from%}">
							<span id='show_kc' class="shopcart_popup1" style="display:none"></span>
					</li>


   <li id="attr">
                    <form name="form">
                    {%foreach from=$info.norm item=list key=ks%}
                    <table>
                        <tr>
                        	<td><span class="det_top_wz">{%$list.normname%}：</span></td>
                            <td>
                                <span style="clear:both">
                                    <ul id="goods_norm_{%$ks%}">
                                        {%foreach from=$list.selected item=v key=k%}
                                            	<li datavalue="{%$k%}">{%if $v.pic !=''%}<a href="#" ><img src="{%$v.pic%}" height="30" width="30" />{%$v.attrname%}</a>{%else%}{%if $v.pic=='' and $v.color==''%}<a href="javascript:;" >{%$v.attrname%}</a>{%else%}<a href="javascript:;" style=" background:{%if $v.color%}{%$v.color%}{%/if%}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>{%/if%}{%/if%}</li>
                                        {%/foreach%} 
                                    </ul>
                                    
                                </span><input id="goods_norm_{%$ks%}" size="15" name="goods_norm" type="hidden" />
                          </td>
                      </tr>
                     </table>
                     <script>
							var goods_norm_{%$ks%} = new Select("goods_norm_{%$ks%}",{
								Radio :true	,									
								OnClick:function(selected){
									document.form.goods_norm_{%$ks%}.value = selected.join(",")
									getprice({%$info.id%});
								}
								
							});	
                     </script>
                     {%/foreach%} 
                     </form>
                    </li>
                    <li>
                        <span id="goodsnum">&nbsp;</span>
                    </li>
               
                   <!-- <li >
                        <span class="gwc" id="gwc">
                        <a href="javascript:;" onclick="AddShopCart('shopcar_popup')"><img src="templates/default/images/index_44.jpg" /></a>
                        </span>
                        <span id="shopcar_popup" >弹出层</span> 
                    </li>-->
				</ul>
			</div>
			<div class="pro_xx_btn gwc"  id="gwc"><a href="javascript:;" onclick="AddShopCart('shopcar_popup')">加入购物车</a>
<span id="shopcar_popup" >弹出层</span> 
			</div>
		</div>
	</div>
	<div class="clearfix mar30">
		<div class="left fl bgw">
			<h3>商品精选</h3>
			<ul>
			{%foreach from=GetGoods(436,'',4) item=list%}
					<li><a href="item_show.php?id={%$list.id%}&cid={%$list.classid%}">
						<img src="{%$list.picurl%}" width="160" height="160">
						<p>¥{%$list.price%}</p>
						<h4>{%$list.title%}</h4>
					</a></li>
					{%/foreach%}

			</ul>
		</div>
		<div class="right fr">
			<ul class="pro_xx_head clearfix">
				<li class="active">产品详情</li>
				<!--<li>累计评价</li>-->
			</ul>
			<div class="pro_xx_txt bgw"> {%$info.content%}</div>
			<div class="pro_xx_txt bgw" style="display: none;">  
			 {%if $comments%}
                        {%foreach from=$comments item=list1%}
                            <li>
                                <div class="sppj_left"><span class="tl"><img src="{%$list1.uid.picurl%}" width="50" height="51" /></span><span class="sppj_left_wz">{%$list1.uid.username%}</span></div>
                                <div class="sppj_right"><span class="sppj_right_top"><strong class="sppj_color">{%$list1.title%}</strong>{%getdateTime($list1.posttime)%}</span>
                                    <div class="sppj_wz">{%$list1.content%}</div>
                                    {%if $list1.reply%}
                                    <div class="sppj_wz" style="border-top: 1px dotted #d9d9d9;">{%$list1.reply%}</div>
                                    {%/if%}
                                   
                                </div>
                            </li>
                            {%/foreach%}
                            {%else%}
                            <li>
                               暂无评论
                            </li>
                            {%/if%}</div>
		</div>
	</div>
</div>
<div class="content"><img src="templates/default/images/index_16.jpg"></div>
<!--main end-->

<!--footer start-->
{%include file="bottom.html"%}
<!--footer end-->
</body>


</html>
