<div class="help_left">
  <span class="help_title">会员中心</span>
    <div class="ddzx"><span class="ddzx_title">订单中心</span>
        <div class="ddzx_list">
            <ul>
                <li><a href="member.php?act=default">我的订单</a></li>

                <li><a href="member.php?act=points"> 我的积分</a></li>
<!--                <li><a href="#"> 商品咨询</a></li>
                <li><a href="#"> 价格举报</a></li>
                <li><a href="#"> 价格保护</a></li>
 -->                <!--<li><a href="#"> 我的账户</a></li>-->
<!--                <li><a href="#"> 到货通知</a></li>
 -->            </ul>
        </div>
    </div>
    <div class="service"><span class="service_title">服务中心</span>
        <div class="ddzx_list">
            <ul>
                <li><a href="member.php?act=memberinfo">账户信息</a></li>
                <li><a href="member.php?act=pswedit"> 账户安全</a></li>
<!--                <li><a href="#"> 在线投诉</a></li>
                <li><a href="#"> 上门安装</a></li> -->
                <li><a href="member.php?act=address"> 收货地址</a></li>
                <!--<li><a href="#"> 礼品卡</a></li>-->
<!--                <li><a href="#"> 消费记录</a></li> -->
            </ul>
        </div>
    </div>
</div>