<!doctype html>
<html>
<head>
{%include file="inc_link.html"%}
<link type="text/css" rel="stylesheet" href="js/validator.css"></link>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/lcshopz.js"></script>
<script src="js/formValidator.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/checkform.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
{%foreach from=$js item=list key=k%}
var {%$k%}	= "{%$list%}";
{%/foreach%}
</script>
<script>
function checkform()
{
	ReadyValidator('form1');
	isempty('username',username_first,username_input,'','false','false','',username_input);
	isempty('password',password,password,'','false','false','',password);
}
</script>

</head>
<style type="text/css">
	.reg_btn{display: block;}
</style>
<body>

<div class="main clearfix">
	<div class="fl"><img src="templates/default/images/main15.jpg" alt="" /></div>
	<div class="login_head fl">欢迎登录</div>
</div>
<div class="login_bg">
	<div class="main">
		<div class="reg fr">
			<ul class="reg_tit clearfix">
				<li class="active">用户登录</li>
				<a href="member.php?act=regist&from={%$fromurl%}"><li> 立即注册</li></a>
			</ul>
			 <form id="form1" method="post" action="" class="reg_con">

				<p><input type="text" placeholder="请输入用户名" name="username" id="username" class="reg_user user_bg1" />
				<span id="usernameTip">
				</p>
				<tr>
                              <td height="35" align="left" valign="top"><span id="usernameTip"></span></td>
                          </tr>
				<p><input type="password" placeholder="请输填写密码" class="reg_user user_bg2" name="password" id="password"/><span id="passwordTip"></span></p>
				<!--<label for=""><input type="checkbox">自动登录</label>-->
				<input type="submit" class="reg_btn" value="登  录" name="imageField" id="imageField" style="text-align: center;" />

				<div class="tc forget"><a href="member.php?act=find">忘记密码？</a></div>
				 <input name="act" type="hidden" value="login_acc" style="display: block;" />
                        <input type="hidden" name="from" id="from" value="{%$from%}" />
			</form>


		</div>
	</div>
</div>




	<div class="content tc" style="padding: 15px 0;"> {%$copyright%} </div>

<!--footer end-->
</body>


</html>
