<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{%include file="inc_link.html"%}
<link href="templates/default/style/webstyle.css" rel="stylesheet" type="text/css" />
<link href="templates/default/style/suggest.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/suggest.js"></script>
<script type="text/javascript" src="js/transport.js"></script>
<script type="text/javascript" src="js/loadimage.js"></script>
</head>
<body>

   {%include file="head.html"%}
    <!--  body  开始  -->
    <div class="body" style="min-height: 400px;">
        <div class="ltitle">{%$getposstr%}</div>
        <div class="news_listl">
            <ul>
            {%foreach from=$info item=list%}
                <li><a href="news.php?cid={%$list.classid%}&id={%$list.id%}">{%$list.title%}</a>{%$list.posttime|date_format:'%Y-%m-%d %H:%M:%S'%}</li>
			{%/foreach%}
            </ul>
        </div>
        <div class="page tr">{%$page%}</div>
    </div>
    <div style="clear:both;"></div>
    <!--  body  结束  -->
	{%include file="bottom.html"%}

</body>
</html>
