<!doctype html>
<html>
<head>
{%include file="inc_link.html"%}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/getarea.js"></script>
<script src="js/formValidator.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/checkform.js" type="text/javascript" charset="UTF-8"></script>
</head>
<style type="text/css">
	.reg_btn{display: block;}
</style>
<script type="text/javascript">
{%foreach from=$js item=list key=k%}
var {%$k%}	= "{%$list%}";
{%/foreach%}

</script>
<script type="text/javascript">
function checkform()
{
	ReadyValidator('form1');
	checkemail('email',emailblank,email_ero,email_right,email_ero,'member.php',email_re,check,
    'email_jud');
	checkuname('username',username_input,username_ero,username_right,username_ero,'member.php',username_re,check,'regist_jud');
	isempty('yzm','','请输入验证码','','false','false','','验证码不能为空');
	passwd('password','11111','请输入密码！','','密码不能少于6!','member.php','密码不能少于6!','验证中。。。','regist_pwd');
	Comparetext('repassword',password_re,'请确认密码!','','false','false','',password_le,'password','=',password_no);
	checkboxs("reshop","xqah_one","",shop_service,"",shop_service);
}

function newgdcode(pic) {
	var obj = document.getElementById('pic');
	var url = document.getElementById('pic').src;
	obj.src = url+ '?nowtime=' + new Date().getTime();//后面传递一个随机参数，否则在IE7和火狐下，不刷新图片
}
</script>
<style type="text/css">
.regist_suc
{
position:fixed;
+position:absolute;
+top:expression(eval(document.documentElement.scrollTop||document.body.scrollTop)+50);
}
</style>
<body  onload="checkform()"  id = "gy_bldy">
<div  id="regist_suc" style = "position:absolute;z-index:8888;display:none;">
	<div class="regist_suc"  style = "width:100%; height:100%; left:0px;background:url(templates/default/images/reg_bg.png);">
		<div style = "width:799px;height:482px;margin:0 auto;background:url(templates/default/images/reg_g_bg.png) no-repeat;">
		<div style = "padding:280px 0 0 230px;">
			<span id = "reg_return" class="regist_res">
            
            </span>
		</div>
		</div>
	</div>
</div>
<div class="main clearfix">
	<div class="fl"><img src="templates/default/images/main15.jpg" alt="" /></div>
	<div class="login_head fl">欢迎登录</div>
</div>
<div class="login_bg">
	<div class="main">
		<div class="reg fr">
			<ul class="reg_tit clearfix">
				<a href="member.php?act=login&from={%$fromurl%}"><li >用户登录</li></a>
				<li class="active">立即注册</li>
			</ul>

		 <form id="form1" method="post" action="member.php" class="reg_con">
			 <p><input type="text" placeholder="请输入邮箱" class="reg_user user_bg1" name="email" id="email"/><span id="emailTip"></span></p>
				<p><input type="text" placeholder="请输入用户名" class="reg_user user_bg1" name="username" id="username"/> <span id="usernameTip"> </p>
				          <input type="hidden" class="text2" name="username_f" id="username_f" />
				<p><input type="password" placeholder="请输填写密码" class="reg_user user_bg2" name="password" id="password"/><span id="passwordTip"></span></p>
				<p><input type="password" placeholder="请确认密码" class="reg_user user_bg2" name="repassword" id="repassword"/><span id="repasswordTip"></span></p>
				<input name="act" type="hidden" value="regist_acc" />
                    <input name="gourl" type="hidden" value="member.php?act=login&from={%$fromurl%}" />
                    <input name="url" type="hidden" value="member.php?act=regist&from={%$fromurl%}&reshop=lost" />
				<label for=""><input name="xqah_one" type="checkbox" value="1" id="xqah_one">我已阅读并同意《大同部落网络服务使用协议》</label>
				<input type="submit" name="imageField" id="imageField" class="reg_btn" value="注 册" />
			</form>

			  
		</div>
	</div>
</div>




	<div class="content tc" style="padding: 15px 0;"> {%$copyright%} </div>

<!--footer end-->
</body>


</html>
